# Python
"venv/" 
"__pycache__/" 
"*.pyc" 
".env"

# R
"*.RData" 
"*.Rhistory"
".Rproj.user/"

# Folder exclusions
"Data/" 
"Logs/" 
"Output/" 

# Data file catches
"*.csv" 
"*.json"
"*.xlsx"

# IDE
".vscode/launch.json"